

/*==========================================
    COLORS
==========================================*/
$text:#D1D3D5;
$background: #1B222E;

$color1:#2A313C;
$color2:#494E58;
$color3:#4A66AC;
$color4:#057bbb;
$color5:#A0CEFF;
$color6:#D1D3D5;

$primary: $color4;
$secondary: $color2;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

$btn-link-color: $primary;
//$btn-link-hover-color;
//$btn-link-disabled-color;

//$link-decoration;
//$link-hover-decoration;
//$link-hover-decoration;


/*==========================================
    FONTS
==========================================*/
$header_font:    'Comfortaa', sans-serif;
$principal_font: 'Comfortaa', sans-serif;
$secondary_font: 'Comfortaa', sans-serif;